html {
	font-size: 62,5%;
}

* {
  margin:  0;
  padding: 0;
}

/* Paleta de colores fondos
Paleta de colores letra
#7F88B3 #373b4d */

$color-pink: #FFE1F0;
$color-lblue: #DDFEFF;
$color-green: #E2FFE6;
$letter-color: #373b4d;

@mixin font($font-size, $text-align) {
	font-size: $font-size;
	text-align: $text-align;
}


body {
	background-color: $color-pink;
	color: $letter-color;
	font-family: 'Kite One', sans-serif;
}

header {
	width: 100%;
	background: $color-pink;
}

h1  {
	width: 25%;
	background: url(../imagenes/logo.png);
	font-size: 0;
}

h2 {
	font-weight: normal;
}

/*Barra de navegacion*/

nav {
	text-align: center;
	background-color: $color-green;

	ul {
		margin-bottom: 0;

         li {
	        background-color: $color-green;
	        list-style-type: none;
	        text-align: center;
	        display: inline-block;
	        margin-right: 5%;
	        margin-left: 5%;
	        margin-top: 1%;
	        margin-bottom: 1%;
                 a {
	                 text-decoration: none;
	                 color: $letter-color;
	                 display: block;

          }
       } 
   } 
}

a:hover {
	color: white;
}

/*Fin de barra de navegacion*/

.titulos {
	background-color: $color-lblue;
	@include font(2rem, center);
	padding: 1rem;
}

.lema {
	font-family: 'Dancing Script', cursive;
	@include font(4rem, center);
	padding: 5%;
}

.tituloNosotros
{
	font-family: 'Dancing Script', cursive;
	background-color: $color-lblue;
	@include font(4rem, center);
}

p {
	text-align: center;
}
 
 /*Footer*/

footer {
	background-color: $color-green; 
	    nav ul li {
	      background-color: $color-green;
	      list-style-type: none;
	      text-align: left;
	  } 
}

footer p {
	text-align: left;
}

/*Fin de Footer*/

.headerContenedor {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
}

.divFooter {
	width: 100%;
	background-color: $color-green;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	padding-top: 40px;
	padding-bottom: 40px;
}

.footerColumna p, h4 {
	text-align: left;
}

div .footerColumna img {
	width: 150px;
	height: 150px;
}

div .imagenRegalo img {
	width: 100%;
}

.imagenRegalo {
	 width: 60%; 
	 margin: 0 auto;
	 transition: height 2s, width 2s;
        &:hover {
	     width: 100%
    }
 }

div .imagenNosotros img {
	width: 100%;
}

.imagenNosotros {
	@extend .imagenRegalo;
	padding-bottom: 5%; 
	   &:hover {
	      width: 100%;
	   } 
	}

article {
	display: inline-block;
	width: 40%;
	margin: 2rem;
	&:hover {
	    border: 2px solid white;
  }
}

section article {
	background-color: $color-green;
	   p {
	     padding: 1rem;
    } 
}

section .preguntasSection h2, p {
	padding: 5%;
}

h3 {
	padding: 2%; 
	background-color: $color-green;
	@include font(20x, center);
	font-weight: normal;
}

form {
	padding: 10%;
}

#galeria .col-lg-4 {
	padding: 25px;
}

#galeria img {
	width: 100%;
	     &:hover {
	     	border: 2px solid white;
	 }
}

.btn-primary {
	color: $letter-color; 
	background-color: $color-lblue;
	border-color: $color-lblue;
	   &:hover {
	    	background-color: $color-green;
	    	border-color: $color-green;
	 }
}

a {
	text-decoration: none;
	color: $letter-color;
}

.hover13 figure:hover img {
	opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
}
@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}

.container-404 {
	text-align: center;
	background: $color-green;
	padding: 50px;
}